<div class="infographic-group">
  <span class="infographic-item icon-location">
    <%= closest_site.first.facility %>
    (<%= t("trials.miles_away", count: closest_site.second) %>)
  </span>
</div>
