<footer id="footer">

  <!-- START SEARCH BY CONNECTION MENU -->

  <div class="search-by-connection wrapper">
    <p>Search By Connection:</p>
      <a href="http://braintumor.org/search-by-connection/#patients-families">Patients &#038; Families</a>
<a href="http://braintumor.org/search-by-connection/#advocates">Advocates</a>
<a href="http://braintumor.org/search-by-connection/#supporters">Supporters</a>
<a href="http://braintumor.org/search-by-connection/#researchers">Researchers</a>
<a href="http://braintumor.org/search-by-connection/#industry">Industry</a>
<a href="http://braintumor.org/search-by-connection/#media">Media</a>
  </div>
  
    <!-- END SEARCH BY CONNECTION MENU -->
    
    <!-- START FOOTER SITE NAVIGATION -->
  
  <nav id="menu" class="wrapper">
      <ul id="menu-footer-navigation" class="menu"><li id="menu-item-4969" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-4969"><a href="http://braintumor.org/brain-tumor-information/">Brain Tumor Information</a>
<ul class="sub-menu">
	<li id="menu-item-4970" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4970"><a href="http://braintumor.org/brain-tumor-information/treatment-options/">Treatment Options</a></li>
	<li id="menu-item-4971" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4971"><a href="http://braintumor.org/brain-tumor-information/finding-support-coping/">Finding Support &#038; Coping</a></li>
	<li id="menu-item-4972" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4972"><a href="http://braintumor.org/brain-tumor-information/#caregiver-resources">Caregiver Resources</a></li>
</ul>
</li>
<li id="menu-item-4947" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-4947"><a href="http://braintumor.org/about-us/">About Us</a>
<ul class="sub-menu">
	<li id="menu-item-4948" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4948"><a href="http://braintumor.org/about-us/our-impact/">Our Impact</a></li>
	<li id="menu-item-4950" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4950"><a href="http://braintumor.org/about-us/summit/">Summit</a></li>
	<li id="menu-item-4949" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4949"><a href="http://blog.braintumor.org/">News &#038; Blog</a></li>
	<li id="menu-item-4951" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4951"><a href="http://braintumor.org/about-us/leadership-staff/">Leadership &#038; Staff</a></li>
	<li id="menu-item-4952" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4952"><a href="http://braintumor.org/about-us/financials/">Financials</a></li>
	<li id="menu-item-4981" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4981"><a href="http://braintumor.org/about-us/careers/">Careers</a></li>
	<li id="menu-item-4953" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4953"><a href="http://braintumor.org/about-us/contact-us/">Contact Us</a></li>
</ul>
</li>
<li id="menu-item-4954" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-4954"><a href="http://braintumor.org/advance-research/">Advance Research</a>
<ul class="sub-menu">
	<li id="menu-item-4955" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4955"><a href="http://braintumor.org/advance-research/integrated-initiatives/">Integrated Initiatives</a></li>
	<li id="menu-item-4956" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4956"><a href="http://braintumor.org/advance-research/funded-research-and-accomplishments/">Funded Research &#038; Accomplishments</a></li>
	<li id="menu-item-4957" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4957"><a href="http://braintumor.org/advanced-research/research-funding-opportunities/">Research Funding Opportunities</a></li>
</ul>
</li>
<li id="menu-item-4958" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-4958"><a href="http://braintumor.org/advocate-for-change/">Advocate for Issues</a>
<ul class="sub-menu">
	<li id="menu-item-4959" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4959"><a href="http://braintumor.org/advocate-for-change/policy-agenda/">Policy Agenda</a></li>
	<li id="menu-item-4960" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4960"><a href="http://braintumor.org/advocate-for-change/alerts-updates-polls/">Updates, Alerts &#038; Polls</a></li>
	<li id="menu-item-4961" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4961"><a href="http://braintumor.org/advocate-for-change/tools-training/">Tools and Training</a></li>
	<li id="menu-item-4962" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4962"><a href="http://braintumor.org/advocate-for-change/advocates-in-action/">Advocates in Action</a></li>
</ul>
</li>
<li id="menu-item-4963" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-4963"><a href="http://braintumor.org/join-the-fight/">Join the Fight</a>
<ul class="sub-menu">
	<li id="menu-item-5022" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5022"><a href="http://braintumor.org/join-the-fight/brain-tumor-awareness-month/">Brain Tumor Awareness Month</a></li>
	<li id="menu-item-4964" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4964"><a href="http://braintumor.org/join-the-fight/ways-to-give/">Ways to Give</a></li>
	<li id="menu-item-4965" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4965"><a href="http://braintumor.org/join-the-fight/find-start-an-event/">Find or Start an Event</a></li>
	<li id="menu-item-4966" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4966"><a href="http://braintumor.org/join-the-fight/become-a-research-partner/">Become a Research Partner</a></li>
	<li id="menu-item-4967" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4967"><a href="http://braintumor.org/join-the-fight/volunteer/">Volunteer</a></li>
	<li id="menu-item-4968" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4968"><a href="http://braintumor.org/join-the-fight/share-your-story/">Share Your Story</a></li>
</ul>
</li>
</ul>    
    <a href="https://secure2.convio.net/bts/site/Donation2?df_id=3940&3940.donation=form1" class="donate-link btn btn-orange">Donate</a>

<a href="http://www.charitynavigator.org/index.cfm?bay=search.summary&orgid=10659#.VMqWLGR4rll" target="_blank"><img src="http://braintumor.staging.wpengine.com/wp-content/assets/CN_88x31.gif" width="88px" height="31px" style="margin-left:15px; margin-right:auto; padding-top:10px; vertical-align:middle;" target="_blank"></a>

  </nav>
  <!-- END FOOTER SITE NAVIGATION -->

  <!-- START FOOTER META MENU AND SOCIAL LINKS -->
  <div class="meta wrapper">
    <div class="meta-links">
        <a title="Terms" href="http://braintumor.org/terms">Terms</a>
<a title="Privacy" href="http://braintumor.org/privacy-policy">Privacy</a>
<a title="Copyright" href="http://braintumor.org/terms/#copyright">Copyright</a>
    </div>
    <!-- <form action="/search" method="get"><fieldset><legend>Site Search</legend> <label for="search-input">Search term</label> <input id="search-input" name="query" placeholder="Search" title="Search" type="text" /> <label for="search-submit">Submit</label> <button class="btn-grey btn-search" id="search-submit" type="submit">Submit</button></fieldset></form> <!-- -->
<form method="get" action="http://braintumor.org"><fieldset><legend>Site Search</legend> <label for="search-input">Search term</label> <input id="search-input" name="s" value="" placeholder="search&hellip;"  title="Search" type="text" />
<label for="search-submit">Submit</label> <button class="btn-grey btn-search" id="search-submit" type="submit">Submit</button></fieldset>
</form>    
    <div class="social-links">
      <a href="https://www.facebook.com/braintumors" class="fb" target="_blank">Facebook</a>
        <a href="https://twitter.com/NBTStweets" class="twitter" target="_blank">Twitter</a>
        <a href="http://www.youtube.com/user/NBTSvideo" class="yt" target="_blank">YouTube</a>
        <a href="http://www.flickr.com/photos/nbts/" class="flickr" target="_blank">Flickr</a>
    </div>

  </div>
  <!-- END FOOTER META MENU AND SOCIAL LINKS -->



</footer>
<!-- END FOOTER -->

<!-- CALL GOOGLE MAPS API  -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

<script src="http://braintumor.org/map/xml2json.js"></script>


<script src="http://braintumor.org/map/map.js"></script>

<!--[if gte IE 8]><!--> 
<script src="http://braintumor.org/map/scripts.js"></script><!-- CALL COMBINED SCRIPTS -->
<!--<![endif]--> 

<link rel='stylesheet' id='gforms_reset_css-css'  href='http://36nxpf1hdwoc46at6o2wxom8.wpengine.netdna-cdn.com/wp-content/plugins/gravityforms/css/formreset.min.css?ver=1.9.14' type='text/css' media='all' />
<link rel='stylesheet' id='gforms_formsmain_css-css'  href='http://36nxpf1hdwoc46at6o2wxom8.wpengine.netdna-cdn.com/wp-content/plugins/gravityforms/css/formsmain.min.css?ver=1.9.14' type='text/css' media='all' />
<link rel='stylesheet' id='gforms_ready_class_css-css'  href='http://36nxpf1hdwoc46at6o2wxom8.wpengine.netdna-cdn.com/wp-content/plugins/gravityforms/css/readyclass.min.css?ver=1.9.14' type='text/css' media='all' />
<link rel='stylesheet' id='gforms_browsers_css-css'  href='http://36nxpf1hdwoc46at6o2wxom8.wpengine.netdna-cdn.com/wp-content/plugins/gravityforms/css/browsers.min.css?ver=1.9.14' type='text/css' media='all' />
<script type='text/javascript' src='http://36nxpf1hdwoc46at6o2wxom8.wpengine.netdna-cdn.com/wp-content/plugins/wpb-accordion-menu-or-category/assets/js/jquery.cookie.js?ver=1.4.1'></script>
<script type='text/javascript' src='http://36nxpf1hdwoc46at6o2wxom8.wpengine.netdna-cdn.com/wp-content/plugins/wpb-accordion-menu-or-category/assets/js/jquery.navgoco.min.js?ver=1.0'></script>
<script type='text/javascript' src='http://36nxpf1hdwoc46at6o2wxom8.wpengine.netdna-cdn.com/wp-includes/js/wp-embed.min.js?ver=4.5.3'></script>
<script type='text/javascript' src='http://36nxpf1hdwoc46at6o2wxom8.wpengine.netdna-cdn.com/wp-content/plugins/gravityforms/js/placeholders.jquery.min.js?ver=1.9.14'></script>
