 <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="google-site-verification" content="Xmwy8KVgwQ-9eQQZI5IW1ZXNebJfCZr28cE0h_M44QM" />
  <title>Clinical Trials - National Brain Tumor Society</title>
  
  <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="http://36nxpf1hdwoc46at6o2wxom8.wpengine.netdna-cdn.com/favicon.ico?v=2" />
  <!-- CALL IE8-only STYLES -->
  <!--[if IE 8]><link rel="stylesheet" href="http://36nxpf1hdwoc46at6o2wxom8.wpengine.netdna-cdn.com/wp-content/themes/ntsb/ie.css" id="old-ie"><![endif]-->
  <!-- CALL MAIN SITE STYLES -->
  <!--[if gte IE 9]><!--><link rel="stylesheet" href="http://36nxpf1hdwoc46at6o2wxom8.wpengine.netdna-cdn.com/wp-content/themes/ntsb/style.css"><!--<![endif]-->
  <!-- CALL GOOGLE API FONT STYLESHEET FOR OPEN SANS -->
  <!-- CALL MODERNIZR SCRIPT -->
  <!--[if gte IE 8]><!--><link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600italic,600,700italic,700' rel='stylesheet' type='text/css'>
  <script src="http://36nxpf1hdwoc46at6o2wxom8.wpengine.netdna-cdn.com/wp-content/themes/ntsb/js/vendor/modernizr.custom.04808.js"></script><!--<![endif]-->
    <!-- socialize.js script should only be included once -->
  <script type="text/javascript" src="http://cdn.gigya.com/js/socialize.js?apiKey=2_0rh_PIXKeng_rY4zI3RdUFGuQYvvCztwvAL85O8vhHLW2sC_7Gvh3zbzcgtYZmFo"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script><!-- CALL JQUERY -->
  <script type="text/javascript" src="http://36nxpf1hdwoc46at6o2wxom8.wpengine.netdna-cdn.com/assets/js/redirects.js"></script>

  <!-- Maps -->
  <script type="text/javascript" src="http://36nxpf1hdwoc46at6o2wxom8.wpengine.netdna-cdn.com/wp-content/themes/ntsb/js/map/gmap3.min.js"></script>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript" src="http://36nxpf1hdwoc46at6o2wxom8.wpengine.netdna-cdn.com/wp-content/themes/ntsb/map.js"></script>
  
<!-- This site is optimized with the Yoast WordPress SEO plugin v2.1.1 - https://yoast.com/wordpress/plugins/seo/ -->
<link rel="canonical" href="http://braintumor.org/brain-tumor-information/treatment-options/clinical-trials/" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Clinical Trials - National Brain Tumor Society" />
<meta property="og:description" content="Patients are often interested in learning more about clinical trials for brain tumors. It can be confusing and overwhelming to understand what clinical trial may be best for you or your loved one. We understand how difficult this process can be and have created this section of our website to better assist you. Clinical trials &hellip;" />
<meta property="og:url" content="http://braintumor.org/brain-tumor-information/treatment-options/clinical-trials/" />
<meta property="og:site_name" content="National Brain Tumor Society" />
<meta property="article:publisher" content="https://www.facebook.com/braintumors" />
<meta property="og:image" content="http://braintumor.org/assets/images/brain-tumor-information/franklyspeaking_downloadicon_chapter_final.jpg" />
<script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"WebSite","url":"http:\/\/braintumor.org\/","name":"National Brain tumor Society","alternateName":"NBTS"}</script>
<!-- / Yoast WordPress SEO plugin. -->

<link rel="alternate" type="application/rss+xml" title="National Brain Tumor Society &raquo; Feed" href="http://braintumor.org/feed/" />
<link rel="alternate" type="application/rss+xml" title="National Brain Tumor Society &raquo; Comments Feed" href="http://braintumor.org/comments/feed/" />
<link rel="alternate" type="application/rss+xml" title="National Brain Tumor Society &raquo; Clinical Trials Comments Feed" href="http://braintumor.org/brain-tumor-information/treatment-options/clinical-trials/feed/" />
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"http:\/\/braintumor.org\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.5.3"}};
			!function(a,b,c){function d(a){var c,d,e,f=b.createElement("canvas"),g=f.getContext&&f.getContext("2d"),h=String.fromCharCode;if(!g||!g.fillText)return!1;switch(g.textBaseline="top",g.font="600 32px Arial",a){case"flag":return g.fillText(h(55356,56806,55356,56826),0,0),f.toDataURL().length>3e3;case"diversity":return g.fillText(h(55356,57221),0,0),c=g.getImageData(16,16,1,1).data,d=c[0]+","+c[1]+","+c[2]+","+c[3],g.fillText(h(55356,57221,55356,57343),0,0),c=g.getImageData(16,16,1,1).data,e=c[0]+","+c[1]+","+c[2]+","+c[3],d!==e;case"simple":return g.fillText(h(55357,56835),0,0),0!==g.getImageData(16,16,1,1).data[0];case"unicode8":return g.fillText(h(55356,57135),0,0),0!==g.getImageData(16,16,1,1).data[0]}return!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i;for(i=Array("simple","flag","unicode8","diversity"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<link rel='stylesheet' id='wpb_wmca_accordion_style-css'  href='http://36nxpf1hdwoc46at6o2wxom8.wpengine.netdna-cdn.com/wp-content/plugins/wpb-accordion-menu-or-category/assets/css/wpb_wmca_style.css?ver=1.0' type='text/css' media='' />
<!-- This site uses the Google Analytics by Yoast plugin v5.4.2 - Universal enabled - https://yoast.com/wordpress/plugins/google-analytics/ -->
<script type="text/javascript">
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','__gaTracker');

	__gaTracker('create', 'UA-57948185-1', 'braintumor.org', {'allowLinker': true});
	__gaTracker('set', 'forceSSL', true);
	__gaTracker('require', 'displayfeatures');
	__gaTracker('require', 'linkid', 'linkid.js');
	__gaTracker('send','pageview');

</script>
<!-- / Google Analytics by Yoast -->
<script type='text/javascript' src='http://36nxpf1hdwoc46at6o2wxom8.wpengine.netdna-cdn.com/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
<script type='text/javascript' src='http://36nxpf1hdwoc46at6o2wxom8.wpengine.netdna-cdn.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
<link rel='https://api.w.org/' href='http://braintumor.org/wp-json/' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://braintumor.org/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://braintumor.org/wp-includes/wlwmanifest.xml" /> 
<link rel='shortlink' href='http://braintumor.org/?p=1198' />
<link rel="alternate" type="application/json+oembed" href="http://braintumor.org/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fbraintumor.org%2Fbrain-tumor-information%2Ftreatment-options%2Fclinical-trials%2F" />
<link rel="alternate" type="text/xml+oembed" href="http://braintumor.org/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fbraintumor.org%2Fbrain-tumor-information%2Ftreatment-options%2Fclinical-trials%2F&#038;format=xml" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script><!-- CALL JQUERY -->


<link rel="stylesheet" href="http://36nxpf1hdwoc46at6o2wxom8.wpengine.netdna-cdn.com/wp-content/themes/ntsb/style.css">
