<!-- START WEBSITE HEADER -->
  <header id="header">
    <div class="wrapper">

      <a href="http://braintumor.org/" id="logo"><img src="http://36nxpf1hdwoc46at6o2wxom8.wpengine.netdna-cdn.com/assets/images/logo-nbts.svg" alt="National Brain Tumor Society"></a>
      <a href="#menu" class="menu-link">
        <span class="search">Search</span>
        <span class="menu">Menu</span>
      </a>
      <!-- <form action="/search" method="get"><fieldset><legend>Site Search</legend> <label for="search-input">Search term</label> <input id="search-input" name="query" placeholder="Search" title="Search" type="text" /> <label for="search-submit">Submit</label> <button class="btn-grey btn-search" id="search-submit" type="submit">Submit</button></fieldset></form> <!-- -->
<form method="get" action="http://braintumor.org"><fieldset><legend>Site Search</legend> <label for="search-input">Search term</label> <input id="search-input" name="s" value="" placeholder="search&hellip;"  title="Search" type="text" />
<label for="search-submit">Submit</label> <button class="btn-grey btn-search" id="search-submit" type="submit">Submit</button></fieldset>
</form>      <div class="social-links">
            
            
            
        <a href="https://www.facebook.com/braintumors" class="fb" target="_blank">Facebook</a>
        <a href="https://twitter.com/NBTStweets" class="twitter" target="_blank">Twitter</a>
        <a href="http://www.youtube.com/user/NBTSvideo" class="yt" target="_blank">YouTube</a>
        <a href="http://www.flickr.com/photos/nbts/" class="flickr" target="_blank">Flickr</a>
      </div>
      <div class="quick-links">
        <a href="http://braintumor.org/brain-tumor-information/">Brain Tumor Information</a>
<a href="http://blog.braintumor.org/">| News &#038; Blog</a>
      </div>

    </div>

  </header>
    <!-- END WEBSITE HEADER -->

<nav id="nav" class="nav">
    <!-- START PRIMARY NAVIGATION -->
    <div class="primary_nav"><ul id="menu-primary-navigation" class="primary"><li id="menu-item-4921" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-4921"><a href="http://braintumor.org/about-us/">About Us</a>
<ul class="subpages">
	<li id="menu-item-4994" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4994"><a href="http://braintumor.org/about-us/our-impact/">Our Impact</a></li>
	<li id="menu-item-4993" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4993"><a href="http://blog.braintumor.org">News &#038; Blog</a></li>
	<li id="menu-item-4926" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4926"><a href="http://braintumor.org/about-us/leadership-staff/">Leadership &#038; Staff</a></li>
	<li id="menu-item-4927" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4927"><a href="http://braintumor.org/about-us/financials/">Financials</a></li>
	<li id="menu-item-6541" class="menu-item menu-item-type-post_type menu-item-object-about-us menu-item-6541"><a href="http://braintumor.org/about-us/national-flagship-partners/">National Flagship Partners</a></li>
	<li id="menu-item-4982" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4982"><a href="http://braintumor.org/about-us/careers/">Careers</a></li>
	<li id="menu-item-4928" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4928"><a href="http://braintumor.org/about-us/contact-us/">Contact Us</a></li>
</ul>
</li>
<li id="menu-item-4922" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-4922"><a href="http://braintumor.org/advance-research/">Advance Research</a>
<ul class="subpages">
	<li id="menu-item-5014" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5014"><a href="http://braintumor.org/advance-research/integrated-initiatives/clinical-trial-endpoints/">Clinical Trial Endpoints</a></li>
	<li id="menu-item-5013" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5013"><a href="http://www.defeatgbm.org/" onclick="__gaTracker('send', 'event', 'outbound-widget', 'http://www.defeatgbm.org/', 'Defeat GBM');">Defeat GBM</a></li>
	<li id="menu-item-5016" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5016"><a href="http://braintumor.org/advance-research/integrated-initiatives/oligodendroglioma-research-fund/">Oligo Research Fund</a></li>
	<li id="menu-item-5015" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5015"><a href="http://braintumor.org/advance-research/integrated-initiatives/pediatric-initiatives/">Pediatric Initiatives</a></li>
	<li id="menu-item-4929" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4929"><a href="http://braintumor.org/advance-research/funded-research-and-accomplishments/">Funded Research &#038; Accomplishments</a></li>
	<li id="menu-item-4930" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4930"><a href="http://braintumor.org/advance-research/research-funding-opportunities/">Research Funding Opportunities</a></li>
	<li id="menu-item-6294" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6294"><a href="http://braintumor.org/resources/">Resources</a></li>
	<li id="menu-item-4995" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4995"><a href="http://braintumor.org/about-us/summit/">Summit</a></li>
</ul>
</li>
<li id="menu-item-4923" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-4923"><a href="http://braintumor.org/advocate-for-change/">Advocate for Change</a>
<ul class="subpages">
	<li id="menu-item-4931" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4931"><a href="http://braintumor.org/advocate-for-change/policy-agenda/">Policy Agenda</a></li>
	<li id="menu-item-4932" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4932"><a href="http://braintumor.org/advocate-for-change/alerts-updates-polls/">Alerts, Polls &#038; Updates</a></li>
	<li id="menu-item-4933" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4933"><a href="http://braintumor.org/advocate-for-change/tools-training/">Tools and Training</a></li>
	<li id="menu-item-4934" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4934"><a href="http://braintumor.org/advocate-for-change/advocates-in-action/">Advocates in Action</a></li>
	<li id="menu-item-5012" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5012"><a href="http://braintumor.org/advocate-for-change/advocates-in-action/head-to-the-hill/">Head to the Hill</a></li>
</ul>
</li>
<li id="menu-item-4924" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-4924"><a href="http://braintumor.org/join-the-fight/">Join the Fight</a>
<ul class="subpages">
	<li id="menu-item-4935" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4935"><a href="http://braintumor.org/join-the-fight/ways-to-give/">Ways to Give</a></li>
	<li id="menu-item-4936" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4936"><a href="http://braintumor.org/join-the-fight/find-start-an-event/">Find or Start an Event</a></li>
	<li id="menu-item-5024" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5024"><a href="http://www.braintumorcommunity.org/site/PageServer?pagename=GrayGalaHomepage" onclick="__gaTracker('send', 'event', 'outbound-widget', 'http://www.braintumorcommunity.org/site/PageServer?pagename=GrayGalaHomepage', 'The National Gray Gala');">The National Gray Gala</a></li>
	<li id="menu-item-4937" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4937"><a href="http://braintumor.org/join-the-fight/become-a-research-partner/">Become a Research Partner</a></li>
	<li id="menu-item-4938" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4938"><a href="http://braintumor.org/join-the-fight/volunteer/">Volunteer</a></li>
	<li id="menu-item-4939" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4939"><a href="http://braintumor.org/join-the-fight/share-your-story/">Share Your Story</a></li>
	<li id="menu-item-6705" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6705"><a href="http://www.braintumorcommunity.org/site/PageNavigator/books_promotion.html" onclick="__gaTracker('send', 'event', 'outbound-widget', 'http://www.braintumorcommunity.org/site/PageNavigator/books_promotion.html', 'SHARE YOUR MEMOIRS');">SHARE YOUR MEMOIRS</a></li>
</ul>
</li>
<li id="menu-item-4925" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4925"><a href="http://www.braintumorcommunity.org/site/Donation2?df_id=3940&#038;3940.donation=form1" onclick="__gaTracker('send', 'event', 'outbound-widget', 'http://www.braintumorcommunity.org/site/Donation2?df_id=3940&#038;3940.donation=form1', 'Give A Gift');">Give A Gift</a></li>
</ul></div>    <!-- END PRIMARY NAVIGATION -->
  
  
    <!-- START SECONDARY NAVIGATION -->
      
        <div class="secondary">
          <nav>
                    <a href="http://braintumor.org/brain-tumor-information/brain-tumor-facts/">Quick Brain Tumor Facts</a>
<a href="http://braintumor.org/brain-tumor-information/understanding-brain-tumors/">Understanding Brain Tumors</a>
<a href="http://braintumor.org/brain-tumor-information/treatment-options/">Treatment Options</a>
<a href="http://braintumor.org/brain-tumor-information/#managing-side-effects">Managing Side Effects</a>
<a href="http://braintumor.org/brain-tumor-information/finding-support-coping/">Finding Support &#038; Coping</a>
<a href="http://braintumor.org/brain-tumor-information/#financial-and-family-considerations">Financial &#038; Family Considerations</a>
<a href="http://braintumor.org/brain-tumor-information/#caregiver-resources">Caregiver Resources</a>
<a href="http://braintumor.org/brain-tumor-information/tools-and-publications/">Tools &#038; Publications</a>
          </nav>
        </div>
    <!-- END SECONDARY NAVIGATION -->
        
</nav>
<style>
/* COMMENTED BECAUSE THESE STYLES ARE DECLARED IN STYLES.CSS
.story-item {
    background: none repeat scroll 0 0 #f6f6f6;
    box-sizing: border-box;
    clear: none !important;
    float: left;
    margin: 1.6%;
    padding: 8px;
    text-align: center;
    width: 30.13%;
}
.story-item img {
    max-height: 170px;
    max-width: 100%;
}
*/
</style>

<article>

<!-- START ARTICLE HEADER -->
<header class="article-header">
  <div class="wrapper">
    
    <h1>Clinical Trial Finder</h1>
    <p></p>

    <div id="sharebarDiv"></div>
     <script type="text/javascript">

      if (document.getElementById('sharebarDiv')) {
          var act = new gigya.socialize.UserAction();
        act.setTitle("Clinical Trials - National Brain Tumor Society");
          var showShareBarUI_params = {
            containerID: 'sharebarDiv',
            shareButtons: 'Share',
            showCounts: 'none',
            userAction: act,
            buttonImages:{buttonLeftImgUp:'http://braintumor.org/wp-content/themes/ntsb/images/share-bttn.png',buttonCenterBGImgUp:null,buttonRightImgUp:null}
          }
        gigya.socialize.showShareBarUI(showShareBarUI_params);
      }       
    </script>
  </div>
</header>
<!-- END ARTICLE HEADER -->

